<a href="https://colab.research.google.com/github/yihaozhong/479_data_management/blob/main/Named_Tuples_and_Classes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Python Named Tuples and Classes

## How could we store a point in two dimensions?

We could store it as two separate floats:

In [ ]:
x,y=4.1,5.2
print(x,y)

4.1 5.2

As a two element list or 2-element tuple:

In [ ]:
p=[4.1,5.2]
print(p)
p=(4.1,5.2)
print(p)

[4.1, 5.2]
(4.1, 5.2)

As a dictionary:

In [ ]:
p={'x':4.1, 'y':42}
p['x']

4.1

Another way to create a point is using a [named tuple](https://docs.python.org/3/library/collections.html#collections.namedtuple) from Python's collections 
module which allows you to access the elements of the tuple by index or by name (the latter as an attribute). Each position in the tuple gets a name.

To define a named tuple, you call "namedtuple" with the name of the type of object and the names of the fields in the object (as a list), as follows.

In [ ]:
from collections import namedtuple
Point=namedtuple('Point',['x','y'])

Now we can use Point to create named tuples with x and y values.

In [ ]:
p=Point(x=4.1,y=5.2)
print(p.x)
print(p.y)

4.1
5.2

You can also create Points with positional arguments and access them with indeces.

In [ ]:
q=Point(7.1,-4.3)
print(q)
print(q[0])
print(q.x)
print(q[1])
print(q.y)

Point(x=7.1, y=-4.3)
7.1
7.1
-4.3
-4.3

We can unpack the named tuple like an ordinary tuple.

In [ ]:
x, y = (1.1, 2.3)
print(x, y)
x, y = q
print(x, y)

1.1 2.3
7.1 -4.3

Like ordinary tuples, named tuples are immutable.

In [ ]:
t=(1.1,3.5)
try:
  t[0]=1.2
except:
  print("Can't reassign elements in an ordinary tuple.")  
try:
  q[0]=1.5
except:
  print("Can't reassign elements in a named tuple.")  
l=[1.1,3.5]  
l[0]=1.2 # not a problem with a list
print(l)

Can't reassign elements in an ordinary tuple.
Can't reassign elements in a named tuple.
[1.2, 3.5]

What are the types of these objects?

In [ ]:
print(type(Point))
print(type(p))

<class 'type'>
<class '__main__.Point'>

So we have created our own type.

In [ ]:
Point=namedtuple('Point',['x','y']) # creates a new type called Point

In [ ]:
BabyCarriage=namedtuple('Point',['x','y']) # name of the type doesn't matter
r=BabyCarriage(8.3,7.1)
print(type(r)) # type is still named point

<class '__main__.Point'>

Named tuples can be useful, but they are limited. They are immutable, which is limiting in many cases, and they have only the methods associated with tuples, as well as the ability to address elements by name.

## Classes

Classes are much more powerful and flexible

* A way to define a new type of objects and instantiate them
* Can define methods, which are class-specific functions 
* Can represent arbitrary data structures
* Like in other object-oriented languages such as Java, support inheritance, encapsulation, and polymorphism

## Python Programmer-Defined Objects and Classes

## Terminology

*   A class defines a type of object
*   An object is an instance of a class
*   When defining a class, we define attributes and methods of that class
*   An attribute is a variable associated with a class and its objects
*   A method is a function associated with a class and its objects

## We can define our own classes and then create objects using them

## Syntax of Programmer-Defined Classes

*   "Class" keyword defines a class giving the class name
*   Methods are defined as functions indented under the class
*   "Self" refers to the object itself
*   All methods (except for static methods) refer to self and optionally some other arguments
*   Special "dunder" methods begin and end with double underscore

## Class methods

*   \_\_init\_\_ method is used to create an object
*   \_\_str\_\_ method is used to tell the print function how to print an object
*   \_\_eq\_\_ tells the = operator when two objects are equal
*   Methods are called with dot notation
*   Objects are created with the class name and the arguments to \_\_init\_\_

A class for dogs with three methods:

In [ ]:
# define a class 
class Dog:
  def __init__(self,name,weight,age,got_rabies_shot):
    self.name=name
    self.weight=weight
    if age<=29: # validate
      self.age=age
    else:
      raise ValueError("That is too old.")
    self.got_rabies_shot=got_rabies_shot
  def __str__(self):
    s=self.name+" is a dog that weighs "
    s+=str(self.weight)+" pounds and is "
    s+=str(self.age)+" years old;"
    if self.got_rabies_shot:
      s+=" vaccinated for Rabies."
    else:
      s+=" not vaccinated for Rabies."
    return s
  def have_birthday(self):
    self.age+=1
  def got_vaccine(self):
    self.got_rabies_shot=True

In [ ]:
# create an instance (calls __init__)
dog1=Dog("Fido",25,1,False)
# print out the attributes
print(dog1.name)
print(dog1.weight)
print(dog1.age)
print(dog1.got_rabies_shot)
dog1.name="Rover"
print(dog1.name)
# print the object (calls the __str__ method)
print(dog1)
dog1.have_birthday()
print(dog1)
dog1.got_vaccine()
print(dog1)

Fido
25
1
False
Rover
Rover is a dog that weighs 25 pounds and is 1 years old; not vaccinated for Rabies.
Rover is a dog that weighs 25 pounds and is 2 years old; not vaccinated for Rabies.
Rover is a dog that weighs 25 pounds and is 2 years old; vaccinated for Rabies.

In [ ]:
try:
  d=Dog("Spike",50,30,True)
except ValueError as e:
  print(e)
try:  
  print(d)
except NameError as e:
  print(e)

That is too old.
name 'd' is not defined

Ed Exercise: add a method to the class called "got_vaccine" which sets the got_rabies_shot attribute of a dog object to True.

Ed Exercise: add a method that compares the ages of two dogs (say Rover and Fido) and prints out either, for example, "Rover is older than Fido" or "Fido and Rover are the same age."

In [ ]:
import math
class Point: # class definition, starts with keyword "class"
    '''Creates a point on a coordinate plane with values x and y.'''

    def __init__(self, x, y): # method called when an object is created
        '''Defines x and y variables'''
        self.x = x
        self.y = y

    def __str__(self): # method called when an object is printed
        return "Point(%s,%s)"%(self.x, self.y) 

    def distance(self, other):
        dx = self.x - other.x
        dy = self.y - other.y
        return math.hypot(dx, dy)
    def manhattan_distance(self,other):
        dx = abs(self.x - other.x)
        dy = abs(self.y - other.y)
        return dx+dy 
        

p=Point(0,0)
q=Point(3,4)
print(p.x)
print(p.y)
print(p)
print(p.distance(q)) # you can think of this as a shorthand for the call below
print(q.distance(p)) # you can think of this as a shorthand for the call below
print(p.manhattan_distance(q))
print(Point.distance(p,q))

0
0
Point(0,0)
5.0
5.0
7
5.0

Ed Exercise: Given the class definition of a point as shown, write a method that computes the Manhattan distance between two points. For instance, the Manhattan distance between 14th St. and 5th Ave. and 23rd St. and 8th Ave. is (23-14)+(8-5) or 12. (Here we treat avenue blocks and street blocks as the same, although avenue blocks are over [twice as long](https://streeteasy.com/blog/how-many-nyc-blocks-are-in-one-mile/).)

Ed Exercise: Using the Point class we have just defined, create a circle class that is instantiated  with three values: the x,y point representing the center, and the radius. Add attributes for the area and perimeter of the circle when you instantiate it. Then write a class method which given two circles indicates whether they intersect.

In [ ]:
import math
class Circle: # class definition, starts with keyword "class"
    '''Creates a point on a coordinate plane with values x and y.'''

    def __init__(self, x, y, r): # method called when an object is created
        '''Defines x and y variables'''
        self.center = Point(x,y)
        self.radius = r
        self.area= math.pi*(r**2)
        self.perimeter= math.pi*2*r

    def __str__(self): # method called when an object is printed
        return f"Circle centered at ({self.center.x},{self.center.y}) with radius {self.radius}"

    def intersect(self,other):        
        return self.center.distance(other.center)<=(self.radius+other.radius)


c=Circle(0,0,1)
print(c)
print(c.area)
print(c.perimeter)
c1=Circle(2,2,2)
c2=Circle(4,4,2)
print(c2.intersect(c1))
c3=Circle(6,6,2)
print(c1.intersect(c3))

Circle centered at (0,0) with radius 1
3.141592653589793
6.283185307179586
True
False

Here is a class that deals random cards from a deck.

In [ ]:
import random

class RandomCard:
    '''
    Class that creates objects that are random cards drawn from a deck
    with replacement
    '''
    def __init__(self):
        '''draw a card by pulling a random suit and value in that suit'''
        suits = ("Hearts","Diamonds","Spades","Clubs")
        values = ("Ace","2","3","4","5","6","7","8","9","10","Jack","Queen","King")
        self.suit = random.choice(suits)
        self.value = random.choice(values)

    def __str__(self):
        '''printing method'''
        return self.value+" of "+self.suit

    def same_suit(self,other):
        '''checks if two cards have the same suit'''
        return self.suit == other.suit

    def __eq__(self,other):
        '''checks if two cards are the same'''
        return (self.suit==other.suit) and (self.value==other.value)

In [ ]:
card1=RandomCard()
print(card1)
card2=RandomCard()
print(card2)
print(card2.same_suit(card1))
print(card1.same_suit(card2))
print(RandomCard.same_suit(card1,card2))

4 of Hearts
2 of Spades
False
False
False

Here is a class that creates hands of n distinct cards.

In [ ]:
class Hand:
    '''deal a hand of n cards'''
    def __init__(self,n):
        '''pull n cards at random'''
        self.cards = []
        i = 1
        while i <= n:
            card = RandomCard()
            # make sure you don't add the same card twice
            if card not in self.cards:
                self.cards.append(card)
                i += 1

    def __str__(self):    
        '''print a hand; relies on str method from random_card class'''
        s = "("
        for i in range(len(self.cards)):
            s += self.cards[i].__str__()
            if i < len(self.cards)-1:
                s += ', '
            else:
                s += ")"
        return s
    def flush(self):
        check = True
        for card in self.cards[1:]:
            if not(RandomCard.same_suit(self.cards[0],card)):
                check = False
        return check

In [ ]:
h=Hand(5)
print(h)

(Jack of Hearts, 5 of Spades, 9 of Diamonds, 9 of Spades, 2 of Hearts)

Above is a method for the hand class that uses the card's same_suit method to determine whether a hand is a flush (that is, all of the cards in the hand have the same suit).

We can deal 100,000 five-card hands and estimate the frequency of flushes. (The actual frequency is 0.00198079.)

In [ ]:
# count the number of flushes in 100,000 hands
num_flush = 0
for i in range(100000):
    h = Hand(5)
    if h.flush(): num_flush += 1

print("Frequency of flushes:",num_flush / 100000)

Frequency of flushes: 0.00196