<a href="https://colab.research.google.com/github/yihaozhong/479_data_management/blob/main/sequences_dictionaries_sets.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Compound Types

In Python, there are many types that contain of a collection of values. Some examples are:

* sequences
    - lists (ordered collection of mutable values)
    - tuples (ordered collection of immutable values)
    - range objects (which represent an arithmetic sequarence)
    - strings (ordered collection of characters)
* dictionaries: based on hashed key/value pairs
* sets

## Sequence Operations

__What are some operations that are common among sequence types?__

* iterate (`for` loop) or mapping
* index (`[]`)
* built-in functions: `len`
* concatenation and repetition `+` and `*`
* `in` and `not in`
* slicing `[start:stop:step]`

## Indexing

__How does indexing work? What happens if an index doesn't exist?__ &rarr;

* each element in a sequence has a position
* the position is called an __index__
* indexes start at 0
* trying to index at a position that doesn't exist causes a runtime error, an exception: `IndexError`

In [ ]:
line_one="Let me not to the marriage of true minds admit impediments"
print(len(line_one))

58

In [ ]:
print(line_one[57])

s

In [ ]:
#generates error
print(line_one[58])

Poll Everywhere Question

Which of these is not a Python sequence?

* a range
* a list
* a dictionary
* a tuple

## Slicing

In [ ]:
fruits = ['rambutan', 'jackfruit', 'lychee', 'apple', 'orange']

In [ ]:
fruits[1:3] # start (inclusive) to end (exclusive)

['jackfruit', 'lychee']

In [ ]:
fruits[2:] # start (inclusive) to end

['lychee', 'apple', 'orange']

In [ ]:
fruits[:3] # beginning to end (exclusive)

['rambutan', 'jackfruit', 'lychee']

In [ ]:
fruits[-5:-2] # counting from the end; -1 is the last item

['rambutan', 'jackfruit', 'lychee']

In [ ]:
fruits[-4:3] # can mix negative and positive indeces

['jackfruit', 'lychee']

In [ ]:
fruits[-4:0] # get empty list if second index is before the first

[]

In [ ]:
fruits[3:2] # ditto

[]

In [ ]:
# works with other sequence types, like strings
s = 'is this a fruit?'

In [ ]:
# leave off beginning or end to start from beginning or go through end
s[-6:]

'fruit?'

In [ ]:
s[:2]

'is'

In [ ]:
s[3:7] # substring

'this'

## Chaining Slices and Indexes

In [ ]:
fruits = ['rambutan', 'jackfruit', 'lychee', 'apple', 'orange']
fruits[-3:] # we get a list back

['lychee', 'apple', 'orange']

In [ ]:
fruits[-3:][-1] # we get a string back

'orange'

In [ ]:
fruits[1:] # another sublist

['jackfruit', 'lychee', 'apple', 'orange']

In [ ]:
fruits[1:][3] # another way

'orange'

In [ ]:
fruits[-3:][-1][:2] # we can slice into that string!

'or'

In [ ]:
fruits[1:][3][:-4] # another way

'or'

Problem

Given the list of fruits above, extract those fruits beginning with a vowel into a second list.

In [ ]:
fruits = ['rambutan', 'jackfruit', 'lychee', 'apple', 'orange']
f2=[]
for f in fruits:
    if f[0].lower() in 'aeiou':
        f2.append(f)
print(f2)

['apple', 'orange']

## Membership

In [ ]:
s = 'hello'
greetings = ['hola', 'hello', 'howdy']
s in greetings

True

In [ ]:
'lo' in 'hello'

True

In [ ]:
'la' in 'hello'

False

In [ ]:
'bye' in greetings

False

In [ ]:
'howdy' in greetings

True

## Concatenation, Repetition

In [ ]:
# repetition with strings
'yadda' * 3

'yaddayaddayadda'

In [ ]:
('yadda ' * 3).rstrip()

'yadda yadda yadda'

Problem

Generate a list containing the numbers from 1 to 100. Then extract from it those numbers divisible by 3 and put them in a second list. Use indexing into the first list. Print the second list.

In [ ]:
[x for x in range(1,101) if x%3==0]

[3,
 6,
 9,
 12,
 15,
 18,
 21,
 24,
 27,
 30,
 33,
 36,
 39,
 42,
 45,
 48,
 51,
 54,
 57,
 60,
 63,
 66,
 69,
 72,
 75,
 78,
 81,
 84,
 87,
 90,
 93,
 96,
 99]

In [ ]:
# repetition with lists
greetings * 2

In [ ]:
# repetition with lists
['hey', 'hej'] * 2

In [ ]:
# concatenation and lists
greetings + ['hey', 'hej']

## Adding Elements to a List?

__Will this work?__ 

```
nums = [1, 2]
nums += 3
```

In [ ]:
nums = [1, 2]
try:
    nums +=3 
except TypeError:
    print('error')

error

In [ ]:
nums += [3] # concatenation works if both operands are same type
nums

[1, 2, 3]

## List Methods for Adding Elements

In [ ]:
nums = [5, 6]

In [ ]:
nums.append(7) # add single value to end
nums

[5, 6, 7]

In [ ]:
nums.extend([8, 9]) # add all values as individual, separate, values to end
nums

[5, 6, 7, 8, 9]

In [ ]:
nums.insert(4, 3) # insert value before index
nums

[5, 6, 7, 3]

## List Methods

Note that most list methods alter the list, but otherwise do not return a value unless otherwise specified

* for example, calling some_list.append('some value')
* ... returns `None`

```
result = some_list.append('some value')
print(result) # None 
```

## Other List Methods

Getting rid of elements

* `remove('value')` - removes first element with value `value`
* `pop()` - return and remove last element

Misc

* `index('value')` - returns index of element with value `value`
* `count('value')` - count number of times `value` occurs in list

In [ ]:
nums

[5, 6, 7, 3]

In [ ]:
nums.remove(7)
nums

[5, 6, 3]

In [ ]:
nums.pop()

3

In [ ]:
nums

[5, 6]

In [ ]:
nums.append(6)

In [ ]:
nums

[5, 6, 6]

In [ ]:
nums.index(6)

1

In [ ]:
nlist=[2,2,3,3,3,4,4,4,4,5,5,5,5,5]
nlist.count(4)

4

In [ ]:
nlist.count(5)

5

In [ ]:
nlist.remove(3)
nlist

[2, 2, 3, 3, 4, 4, 4, 4, 5, 5, 5, 5, 5]

In [ ]:
nlist.count(3)

2

In [ ]:
try:
    nlist.remove(1)
except ValueError as e:
    print(type(e), e)

<class 'ValueError'> list.remove(x): x not in list

## Inserting

In [ ]:
v=list('aeiou')
v

['a', 'e', 'i', 'o', 'u']

In [ ]:
v.insert(3,'y')
v

['a', 'e', 'i', 'y', 'o', 'u']

## Sorting

In [ ]:
l=[5,4,3,2,1]
l.sort()
l

[1, 2, 3, 4, 5]

## Maximum and Minimum

In [ ]:
max(l)

5

In [ ]:
min(l)

1

## Any and All

Sees whether any or all of the objects in a list are true, based on the truth value of the objects. From the Python manual, here are "most of the built-in objects considered false:

* constants defined to be false: `None` and `False`
* zero of any numeric type: 0, 0.0, 0j, Decimal(0), Fraction(0,1)
* empty sequences and collections: '',(),[],{},set(), range(0)

Most other objects are considered `True`

In [ ]:
l=[5,4,True,100,1,[0]]
all(l)

True

In [ ]:
l.append(0)
l

[5, 4, True, 100, 1, [0], 0]

In [ ]:
all(l)

False

In [ ]:
any(l)

True

In [ ]:
l=[False,0,0,False,[]]
any(l)

False

In [ ]:
l.append(5)
l

[False, 0, 0, False, [], 5]

In [ ]:
any(l)

True

In [ ]:
all(l)

False

## Reversing

In [ ]:
lyric="The rain in Spain is mainly on the plain"
l=lyric.split()
l

['The', 'rain', 'in', 'Spain', 'is', 'mainly', 'on', 'the', 'plain']

In [ ]:
l.reverse()
l

['plain', 'the', 'on', 'mainly', 'is', 'Spain', 'in', 'rain', 'The']

## Lists vs Strings

__What are some differences between lists and strings?__ &rarr;

* strings are __immutable, strings cannot be changed
* string methods return a new value, while list methods often change the original list (and don't return a value)
* (and obviously, they are different types of objects that contain different things)

In [ ]:
greeting="hello"
try:
    greeting[0]="m"
except:
    print("can't do this")

can't do this

In [ ]:
g2=greeting.upper()

In [ ]:
greeting

'hello'

In [ ]:
g2

'HELLO'

## Converting Strings to Lists and Back Again

In [ ]:
# split string to list
created_date = "09/02/2020"
created_date_parts = created_date.split('/')
print(created_date_parts)
print(type(created_date_parts))

['09', '02', '2020']
<class 'list'>

In [ ]:
# extract individual strings
month, day, year = created_date_parts
print('month and year are:', month, year)
print(type(month))
print(type(year))

month and year are: 09 2020
<class 'str'>
<class 'str'>

In [ ]:
# reassemble
ymd='-'.join([year, month, day])
print(ymd)
print(type(ymd))

2020-09-02
<class 'str'>

## A Little About Range

__A `range` is an immutable sequence type!__

* you can loop over it
* as well as index
* ...but you can't assign to it

In [ ]:
r = range(5)
print(r)
print(list(r))
print(type(r))
print(r[2])

range(0, 5)
[0, 1, 2, 3, 4]
<class 'range'>
2

In [ ]:
r

range(0, 5)

In [ ]:
for i in r:
    print(i, end=' ')

0 1 2 3 4

## Assignment Will Raise a TypeError

In [ ]:
try:
    r[0] = 21
except TypeError as e:
    print(type(e), e)

<class 'TypeError'> 'range' object does not support item assignment

In [ ]:
# to assign, need to transform to list
l_from_r=list(r)
print(l_from_r)
l_from_r[2]=100
l_from_r

[0, 1, 2, 3, 4]

[0, 1, 100, 3, 4]

In [ ]:
range(3,100,3)

range(3, 100, 3)

## Tuples are Also an Immutable Sequence Type

Think of a tuple as: __a list that can't be changed__

Tuples take less memory than lists, perform better. Good for data that won't change over the course of your problem.

## Tuples Can be Created with Commas (and Just Commas)

In [ ]:
# only commas!
t = 1, 2, 3

# with one element, element and comma
one_element = 2,

print(t)
print(type(t))
print(one_element)
print(type(one_element))

(1, 2, 3)
<class 'tuple'>
(2,)
<class 'tuple'>

## There are Some Instances Where You Need Parentheses

In [ ]:
# note that if you want a tuple literal as an argument
# ...it has to be wrapped in parentheses
print((1, 2, 3), 4)

(1, 2, 3) 4

## Immutable

In [ ]:
try:
    t[0] = 'please change!'
except TypeError as e:
    print(type(e), e)

<class 'TypeError'> 'tuple' object does not support item assignment

## Unpacking...

In [ ]:
word1, word2 = 'foo', 'bar'
print(word1)
print(word2)

foo
bar

In [ ]:
t2 = 'foo', 'bar'
word1, word2 = t2
print(word1)
print(word2)

foo
bar

## Tuples in a List

In [ ]:
points = [(1, 2), (3, 4), (5, 6)]
for p in points:
    # type is tuple on each iteration...
    print(type(p))
    print(p)

<class 'tuple'>
(1, 2)
<class 'tuple'>
(3, 4)
<class 'tuple'>
(5, 6)

## Accessing Each Tuple Element

In [ ]:
# printing out both the x and y components
for p in points:
    # this requires indexing...
    print('x', p[0])
    print('y', p[1])

x 1
y 2
x 3
y 4
x 5
y 6

## Unpacking Directly in Loop Variable

In [ ]:
for x, y in points:
    print('x', x)
    print('y', y)

x 1
y 2
x 3
y 4
x 5
y 6

## Index (Position) and Element

__Sometimes it's useful to have both the element and element's position__ &rarr;

In [ ]:
# Using Range
options = ['yes', 'no', 'maybe']
for i in range(len(options)):
    print(i, options[i])

0 yes
1 no
2 maybe

## Index and Element with `enumerate`

counts off the elements

In [ ]:
result = enumerate(options)

In [ ]:
result

In [ ]:
l=list(result)
l

[(0, 'yes'), (1, 'no'), (2, 'maybe')]

In [ ]:
type(l[1])

tuple

In [ ]:
# unpacking by enumerating
for i, option_label in enumerate(options):
    print(i, option_label)

0 yes
1 no
2 maybe

## Dictionaries

In some other languages called hashes or associative arrays

* type / _constructor_ is `dict`
* it's a collection of pairs of keys and their associated values
* empty dictionary is `{}`
* values can be looked up with keys into using `[]`: `d[k]`
* new key / val pair can be added with `[]` and assignment: `d[new_k] = 'new value'`
* `KeyError` if key doesn't exist
* built using hash tables: close to constant time assignment and lookup, so typically very fast

## Quick Dictionary Example

In [ ]:
birth_years = {}
birth_years['Beethoven'] = 1770
birth_years['Bach']=1685
print(birth_years['Beethoven'])
print(birth_years)

1770
{'Beethoven': 1770, 'Bach': 1685}

In [ ]:
try:
    print(birth_years['Mozart'])
except KeyError:
    print('error: that key does not exist')

error: that key does not exist

## Dictionaries and Printing 

__Let's try to print the following dictionary's keys AND values__ &rarr;

In [ ]:
person = {"first":"james", "last":"jones", "middle": "earl"}

In [ ]:
for name_part in person:
    print(name_part)

first
last
middle

In [ ]:
for name_part in person:
    print(person[name_part])

james
jones
earl

## Let's Do the Same Thing with `.items`

Calling `.items()` on a `dict` will give back a list-like object (of type dict_items) of 2-element tuples, each composed of a the key as the first element and the value as the second. We can coerce the result to a list

In [ ]:
print(list(person.items()))
type(person.items())

[('first', 'james'), ('last', 'jones'), ('middle', 'earl')]

dict_items

In [ ]:
for k, v in person.items():
    print(k, v)

first james
last jones
middle earl

## `.values()` and `.keys()`

__To retrieve a collection of only values or keys, use the corresponding methods, `.values` and `.keys`__

In [ ]:
vals = list(person.values())
keys = list(person.keys())

In [ ]:
vals

['james', 'jones', 'earl']

In [ ]:
keys

['first', 'last', 'middle']

Problem

Generate a list of 20 random integers between 1 and 4 (there will be repeats). Then create a dictionary where the keys are the numbers between 1 and 4 and the values are the counts. Print the list and the dictionary.

In [ ]:
import random
l=[]
d={}
for i in range(1,5):
  d[i]=0
for i in range(20):
  v=random.randint(1,4)
  l.append(v)
  d[v]+=1
print(l)
print(d)

[4, 3, 3, 1, 3, 1, 1, 2, 2, 2, 2, 3, 4, 3, 1, 4, 1, 1, 3, 4]
{1: 6, 2: 4, 3: 6, 4: 4}

## Sets

__Sets are an unordered collection of distinct elements__ &rarr;

In [ ]:
# use curly braces
words = {'foo', 'bar', 'baz', 'foo'}
print(words)
print(type(words))

In [ ]:
# creating an empty set ({} is an empty dictionary, not a n empty set)
empty = set()
numbers=set(range(1, 101))
print(numbers)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100}

In [ ]:
words2 = {'qux','corge'}

## Set Operators and Methods

In [ ]:
print(words)
print(words2)

{'bar', 'baz', 'foo'}
{'corge', 'qux'}

In [ ]:
words.union(words2)

{'bar', 'baz', 'corge', 'foo', 'qux'}

In [ ]:
words2.union(words)

{'bar', 'baz', 'corge', 'foo', 'qux'}

In [ ]:
# the "|" operator also means union in the context of sets
words | words2

{'bar', 'baz', 'corge', 'foo', 'qux'}

In [ ]:
print(words2)
print(words)
words.union(words2, {'qux', 'idk'})

{'corge', 'qux'}
{'bar', 'baz', 'foo'}

{'bar', 'baz', 'corge', 'foo', 'idk', 'qux'}

In [ ]:
# intersection using "&"
print(words)
words3={'bar', 'baz', 'qux'}
words & words3

{'bar', 'baz', 'foo'}

{'bar', 'baz'}

In [ ]:
# intersection using a method
words.intersection(words3)

{'bar', 'baz'}

In [ ]:
# commutative
words3.intersection(words)

{'bar', 'baz'}

## Set Elements

* Set elements must be immutable
* Set elements are distinct

In [ ]:
try:
    # set elements cannot be mutable!
    {'foo', [1, 2, 3]}
except TypeError as e:
    print(type(e), e)

<class 'TypeError'> unhashable type: 'list'

In [ ]:
set([1, 2, 2, 2, 3])

{1, 2, 3}

## Poll Everywhere Question

Which of the following are all immutable in Python?

* Lists and dictionary values
* Tuples and lists
* Set elements, tuples, and dictionary keys
* Lists and strings

## Sets and Interaction with Other Types

In [ ]:
words = {'foo', 'bar', 'baz', 'foo'}

In [ ]:
# methods may take iterables like lists and tuples, and methods like union will work
print(words.union([1, 2, 3]))
print(words.union((5,6,6)))

{1, 2, 3, 'foo', 'baz', 'bar'}
{5, 6, 'foo', 'baz', 'bar'}

In [ ]:
try:
    # set operators will raise exception if the operands are of different types
    words | [1, 2, 2]
except TypeError as e:
    print(type(e), e)

<class 'TypeError'> unsupported operand type(s) for |: 'set' and 'list'

In [ ]:
# fix by casting
words | set([1,2,2])

{1, 2, 'bar', 'baz', 'foo'}

Lists and tuples are ordered ... sets are not

In [ ]:
[1,2,3]==[3,2,1]

False

In [ ]:
(4,5,6)==(6,5,4)

False

In [ ]:
set([1,2,3])==set([3,2,1])

True

A tuple does not equal an equivalent list

In [ ]:
[1,2,3]==(1,2,3)

False

In [ ]:
type([1,2,3])

list

In [ ]:
type((1,2,3))

tuple

Fix by converting

In [ ]:
tuple([1,2,3])==(1,2,3)

True

Equivalent if converted to sets

In [ ]:
set([1,2,3])==set((1,2,3))

True

Problem (Ed)

Generate a list of 20 numbers that are integers between 1 and 10. Then create a second list that is the first list with no duplicates. Don't use the set() type coercion function to do that. Then check that your second list gives the same collection as if you had used the set() coercion function.

In [ ]:
from random import randint

nums = [randint(1,10) for i in range(20)]
print(nums)

uniqueNums = []
for num in nums:
  if num not in uniqueNums:
    uniqueNums.append(num)

print(sorted(uniqueNums))
print(set(nums))

[4, 10, 7, 7, 7, 8, 9, 4, 2, 5, 7, 3, 5, 8, 10, 7, 6, 9, 9, 1]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}